<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 使用bean标签 -->	
 	<bean id = "userService" class = "com.qq986945193.davidsshtools.service.SpringUserServiceImpl">
 		<!-- 配置属性 -->
 		<property name="name" value="我是配置的默认名称"/>
 	</bean>
</beans>
















