<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 使用bean标签 ,id为唯一的标识，通过id获取。类名 -->
	<bean id="userService"
		class="com.qq986945193.davidsshtools.service.SpringUserServiceImpl">
		<!-- 配置属性 -->
		<property name="name" value="我是配置的默认名称" />
	</bean>
	<!-- 引入其他的配置文件 <import resource="applicationContext2.xml"/> -->
	<!-- 演示依赖注入 -->
	<bean id="customerDao" class="com.qq986945193.davidsshtools.dao.SpringCustomerDaoImpl" />
	<bean id="customerService"
		class="com.qq986945193.davidsshtools.service.SpringCustomerServiceImpl">
		<!-- 配置属性,引入customerDao -->
		<property name="customerDao" ref="customerDao" />
	</bean>
	<!-- 演示构造方法的注入方式 -->
	<bean id="car1" class="com.qq986945193.davidsshtools.domain.SpringCar1">
		<!-- <constructor-arg name="cname" value="宝马" />
		<constructor-arg name="price" value="986945193" /> -->

		<constructor-arg index="0" value="奔驰" />
		<constructor-arg index="1" value="986945193" />
	</bean>
	
	<bean id = "person" class = "com.qq986945193.davidsshtools.domain.SpringPerson">
		<constructor-arg name="pname" value="david"/>
		<constructor-arg name="car1" ref="car1"/>
	</bean>
	<!-- 采用set方法注入 -->
	<bean id = "car2" class = "com.qq986945193.davidsshtools.domain.SpringCar2">
		<property name="cname" value="保时捷"/>
		<property name="price" value="986945193"/>
	</bean>
</beans>
















