<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 版本有些需要带有版本号 -->
	<!-- http://www.springframework.org/schema/beans/spring-beans.xsd -->

	<!-- 开启注解的扫描 需要导入context约束 -->
	<context:component-scan base-package="com.qq986945193"/>


	<!-- 使用bean标签 ,id为唯一的标识，通过id获取。类名 -->
	<bean id="userService"
		class="com.qq986945193.davidsshtools.service.SpringUserServiceImpl">
		<!-- 配置属性 -->
		<property name="name" value="我是配置的默认名称" />
	</bean>
	<!-- 引入其他的配置文件 <import resource="applicationContext2.xml"/> -->
	<!-- 演示依赖注入 -->
	<bean id="customerDao" class="com.qq986945193.davidsshtools.dao.SpringCustomerDaoImpl" />
	<bean id="customerService"
		class="com.qq986945193.davidsshtools.service.SpringCustomerServiceImpl">
		<!-- 配置属性,引入customerDao -->
		<property name="customerDao" ref="customerDao" />
	</bean>
	<!-- 演示构造方法的注入方式 -->
	<bean id="car1" class="com.qq986945193.davidsshtools.domain.SpringCar1">
		<!-- <constructor-arg name="cname" value="宝马" /> <constructor-arg name="price" 
			value="986945193" /> -->

		<constructor-arg index="0" value="奔驰" />
		<constructor-arg index="1" value="986945193" />
	</bean>

	<bean id="person" class="com.qq986945193.davidsshtools.domain.SpringPerson">
		<constructor-arg name="pname" value="david" />
		<constructor-arg name="car1" ref="car1" />
	</bean>


	<!-- 采用set方法注入 -->
	<!-- <bean id = "car2" class = "com.qq986945193.davidsshtools.domain.SpringCar2"> 
		<property name="cname" value="保时捷"/> <property name="price" value="986945193"/> 
		</bean> -->


	<!-- 才用p名称空间注入的方式（了解） -->
	<!-- <bean id="car2" class="com.qq986945193.davidsshtools.domain.SpringCar2" 
		p:cname="迈巴赫" p:price="986945193"> -->


	<!-- 才用SPEL方式注入 -->
	<bean id="car2" class="com.qq986945193.davidsshtools.domain.SpringCar2">
		<property name="cname" value="#{'劳斯莱斯'}" />
		<property name="price" value="#{986945193}" />
	</bean>

	<!-- 注入集合 -->
	<bean id="user" class="com.qq986945193.davidsshtools.domain.SpringUser1">
		<!-- 数组 -->
		<property name="arrs">
			<list>
				<value>arrs1</value>
				<value>arrs2</value>
				<value>arrs3</value>
			</list>
		</property>
		<!-- list集合 -->
		<property name="list">
			<list>
				<value>list2</value>
				<value>list1</value>
			</list>
		</property>
		<!--map集合 -->
		<property name="map">
			<map>
				<entry key="mapkey" value="mapvalue" />
				<entry key="mapvalue" value="mapvalue" />
			</map>
		</property>
		<!-- properties -->
		<property name="properties">
			<props>
				<prop key="username">david</prop>
				<prop key="password">password</prop>
			</props>
		</property>
	</bean>
	<!-- SSH整合的配置 -->
	<!-- 客户的管理，配置持久层.使用实现类进行配置 -->
	<bean id="demoCustomerDao1" class="com.qq986945193.davidsshtools.dao.DemoCustomerDao1Impl" />
	<!-- 客户的管理，配置业务层。使用实现类配置 -->
	<bean id="demoCustomerService1"
		class="com.qq986945193.davidsshtools.service.DemoCustomerService1Impl">
		<property name="customerDao" ref="demoCustomerDao1" />
	</bean>
</beans>
















