<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 配置c3p0的连接池 -->
	<bean id="dataSource" class = "com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql:///exam"/>
		<property name="user" value="root"/>
		<property name="password" value="1234"/>
	</bean>
	<!-- 配置JDBC的模板类,由于我们这里使用事务，所以就不用jdbcTemplate -->
<!-- 	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean> -->
	
	<!-- 配置平台事务管理器 -->
	<bean id="transactionManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 手动编码，提供了模板类，使用该类管理事务比较简单 -->
	<bean id = "transactionTemplate" class = "org.springframework.transaction.support.TransactionTemplate">
		<!-- 配置事务的模板，需要使用事务平台管理器 -->
		<property name="transactionManager" ref="transactionManager"/>
	</bean>
	<!-- 配置业务层和持久层 -->
	
	<bean id = "accountDao" class = "com.qq986945193.davidsshtools.dao.impl.SpringJdbcAccountDaoImpl1">
	<!-- 	<property name="jdbcTemplate" ref="jdbcTemplate"/> -->
		<!-- 因为操作事务，需要使用dataSoure -->
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	
	<bean id="accountService" class = "com.qq986945193.davidsshtools.service.impl.SpringJdbcAccountServiceImpl1">
		<property name="accountDao" ref="accountDao"/>
		<!-- 业务层需要操作数据库，所以这里引用事务的模板类 -->
		<property name="transactionTemplate" ref="transactionTemplate"/>
	</bean>
</beans>

















